footer {
  background-color: #fff;
  padding: 10rem 0;
}

.footer__container {
  grid-gap: 8rem;
  color: #010103;
  display: grid;
  gap: 8rem;
  grid-template-columns: 27fr 21fr 21fr 21fr;
  justify-content: center;
  text-align: left;
}

.footer__content__list1,
.footer__content__list2 {
  list-style: none;
}

.footer__content__list1 li:first-child {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.footer__content__list2 li:first-child {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.footer__content__list1:first-child span {
  font-weight: 400;
}

.footer__content__list1 li:nth-child(2) {
  color: #706f7b;
  font-size: 1.6rem;
  line-height: 1.7;
  margin-bottom: 3rem;
}

.footer__content__list1 li:nth-child(3),
.footer__content__list1 li:nth-child(4) {
  font-family: Rubik, sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.footer__content__list1 li a {
  color: #010103;
  text-decoration: none;
  transition: all 0.2s;
}

.footer__content__list1 li a:hover, .footer__content__list2 li a:hover {
  color: #ff4d30;
}

.footer__content__list2 li {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.footer__content__list2 li a {
  color: #010103;
  text-decoration: none;
  transition: all 0.2s;
}

.footer__content__list2 input {
  background-color: #ececec;
  border-color: transparent;
  border-width: 1px;
  font-family: Rubik,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 1rem;
  outline: none;
  padding: 10px 60px;
}
