.about__section {
  align-items: center;
  display: flex;
  gap: 5rem;
  margin: 10rem auto;
  max-width: 90rem;
}

.about__img {
  height: 43rem;
  width: 43rem;
}

.about__text {
  color: #010103;
  display: flex;
  flex-direction: column;
}

.about__text h3 {
  font-family: Rubik, sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.about__text h2 {
  font-size: 4.2rem;
  line-height: 1.2;
}

.about__text p {
  color: #706f7b;
  font-family: Rubik, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.about__text__icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
}

.about__text__icons__box {
  display: flex;
  flex-direction: column;
}

.about__text__icons__box img {
  width: 7rem;
}

.about__text__icons__box .last__icon {
  width: 5rem;
}

.about__text__icons__box span {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.about__text__icons__box span h4 {
  font-size: 4.6rem;
}

.about__text__icons__box span p {
  color: #706f7b;
  font-family: Rubik, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 4rem;
  margin-top: 2rem;
}
