.contact__content {
  background-image: url("/src/images/banners/bg-contact.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  color: #010103;
  display: flex;
  gap: 22.5rem;
  margin: 0 auto;
  padding: 10rem 2rem;
}

.contact__content__text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 41rem;
}

.contact__content__text h2 {
  font-size: 4.2rem;
  line-height: 1.3;
  margin-bottom: 2rem;
}

.contact__content__text p {
  color: #706f7b;
  font-family: Rubik, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.contact__content__text a {
  color: #010103;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  text-decoration: none;
  transition: all 0.2s;
}

.contact__content__text a:hover {
  color: #ff4d30;
}

.contact__content__form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contact__content__form label {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.contact__content__form input {
  margin-bottom: 2.3rem;
}

.contact__content__form input,
textarea {
  background-color: #f2f2f2;
  border: none;
  font-size: 1.6rem;
  outline: none;
  padding: 19px 30px;
}

.contact__content__form textarea {
  height: 18rem;
  margin-bottom: 2.5rem;
}
