.download__section {
  background-color: #f8f8f8;
  background-image: url("/src/images/banners/bg02.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding: 10rem 0;
  width: 100%;
}

.download__text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 55rem;
  text-align: left;
}

.download__text h2 {
  color: #010103;
  font-size: 4.2rem;
}

.download__text p {
  color: #706f7b;
  font-family: Rubik,sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

.download__btns {
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
}

.download__btns img {
  cursor: pointer;
  width: 40%;
}