.models__section {
  grid-gap: 3rem;
  align-items: center;
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin: 0 auto;
  padding: 10rem 0;
  text-align: center;
  width: 110rem;
}
