.phone__banner__section {
  background-image: url("/src/images/banners/phone-banner.png");
  display: flex;
  height: 20rem;
  margin-top: 7rem;
  position: relative;
  width: 100%;
}

.phone__banner__overlay {
  background-color: #2d2d2d;
  height: 100%;
  opacity: 0.89;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.phone__banner__text {
  align-items: center;
  color: #fff;
  display: flex;
  gap: 5rem;
  height: 20rem;
  position: relative;
  width: 100%;
  z-index: 5;
}

.phone__banner__text h2 {
  font-size: 3.2rem;
}

.phone__banner__text span {
  align-items: center;
  color: #ff4d30;
  display: flex;
  font-size: 2.7rem;
  gap: 1rem;
  white-space: nowrap;
}
