.pick__section {
  padding: 10rem 0;
}
.pick__container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.pick__container__title {
  color: #010103;
  margin: 0 auto;
  max-width: 50rem;
  text-align: center;
}

.pick__container__title h3 {
  font-family: Rubik, sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
}

.pick__container__title h2 {
  font-family: Poppins, sans-serif;
  font-size: 4.2rem;
  margin: 0.5rem 0 1rem;
}

.pick__container__title p {
  color: #706f7b;
  font-family: Rubik, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

.pick__container__content {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.pick__btn_boxes {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.pick__car__btn {
  background-color: #e9e9e9;
  font-family: Poppins,sans-serif;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.5rem 2.5rem;
  text-align: left;
  transition: all .2s;
}

.active {
  color: #fff;
  background-color: #ff4d30!important;
}

