.team__peoples {
  grid-gap: 4rem;
  align-items: center;
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin: 0 auto;
  padding: 10rem 2rem;
  text-align: center;
  width: 110rem;
}
