.team__person__box {
  background-color: #fff;
  box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.08);
  width: 33rem;
}

.team__person__box__img {
  background-color: #f6f6f6;
  height: auto;
  width: 100%;
}

.team__person__box__img img {
  width: 100%;
}

.team__person__box__descr {
  color: #010103;
  padding: 3rem;
}

.team__person__box__descr h3 {
  font-size: 2.2rem;
}

.team__person__box__descr p {
  color: #777;
  font-size: 1.6rem;
  font-weight: 500;
}
