.testimonials__section {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  color: #010103;
  padding: 10rem 0;
}

.testimonials__container__title {
  margin: 0 auto 5rem;
  max-width: 70rem;
  text-align: center;
}

.testimonials__container__title h4 {
  font-family: Rubik, sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
}

.testimonials__container__title h2 {
  font-size: 4.2rem;
  margin-bottom: 1.4rem;
}

.testimonials__container__title p {
  color: #706f7b;
  font-family: Rubik, sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
}

.all__testimonials {
  display: flex;
  gap: 3rem;
  justify-content: center;
  padding: 3rem;
  width: 100%;
}

.all__testimonials__box {
  display: flex;
  flex-direction: column;
  gap: 3em;
  background-color: #fff;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.08);
  padding: 5.5rem;
  position: relative;
  width: 54rem;
}

.quotes__icon {
  bottom: 33px;
  color: #ff4d30;
  font-size: 6.2rem;
  position: absolute;
  right: 60px;
}

.all__testimonials__box p {
  font-size: 2.2rem;
  font-weight: 500;
}

.all__testimonials__box__profile {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 0.8rem;
}

.all__testimonials__box__profile img {
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
  grid-row: 1 / -1;
}

.all__testimonials__box__profile h4 {
  font-size: 1.8rem;
  align-self: end;
}

.all__testimonials__box__profile p {
  font-family: Rubik, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}
